<!--suppliers start-->
<div class="product_detailsmian">
  <div class="motors-suppliersLast Suooliers_margin">
    <div class="Suooliers_left">
      <div class="Suooliers_Category">
        <div class="Suooliers_title"><span>Category</span></div>
        <div class="Suooliers_boby">
          <ul>
            <li>AC Motor <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Asynchronous  Motor <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Geared Motors <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Geared Motors <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Asynchronous  Motor <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Geared Motors <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Geared Motors <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Asynchronous  Motor <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Geared Motors <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
          </ul>
        </div>
        <div class="Suooliers_more"> <span>More</span><i class="fa fa-caret-down"></i> </div>
        <div class="clear"></div>
      </div>
      <div class="Suooliers_Category">
        <div class="Suooliers_title"><span>Category</span></div>
        <div class="Suooliers_boby">
          <ul>
            <li>AC Motor <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Asynchronous  Motor <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Geared Motors <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Geared Motors <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Asynchronous  Motor <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Geared Motors <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Geared Motors <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Asynchronous  Motor <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Geared Motors <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
          </ul>
        </div>
        <div class="Suooliers_more"> <span>More</span><i class="fa fa-caret-down"></i> </div>
        <div class="clear"></div>
      </div>
      <div class="Suooliers_Category">
        <div class="Suooliers_title"><span>Category</span></div>
        <div class="Suooliers_boby">
          <ul>
            <li>AC Motor <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Asynchronous  Motor <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Geared Motors <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Geared Motors <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Asynchronous  Motor <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Geared Motors <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Geared Motors <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Asynchronous  Motor <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Geared Motors <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
          </ul>
        </div>
        <div class="Suooliers_more"> <span>More</span><i class="fa fa-caret-down"></i> </div>
        <div class="clear"></div>
      </div>
      <div class="Suooliers_Category">
        <div class="Suooliers_title"><span>Category</span></div>
        <div class="Suooliers_boby">
          <ul>
            <li>AC Motor <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Asynchronous  Motor <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Geared Motors <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Geared Motors <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Asynchronous  Motor <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Geared Motors <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Geared Motors <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Asynchronous  Motor <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Geared Motors <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
          </ul>
        </div>
        <div class="Suooliers_more"> <span>More</span><i class="fa fa-caret-down"></i> </div>
        <div class="clear"></div>
      </div>
      <div class="Suooliers_Category">
        <div class="Suooliers_title"><span>Category</span></div>
        <div class="Suooliers_boby">
          <ul>
            <li>AC Motor <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Asynchronous  Motor <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Geared Motors <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Geared Motors <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Asynchronous  Motor <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Geared Motors <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Geared Motors <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Asynchronous  Motor <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
            <li>Geared Motors <i>(8501)</i></li>
            <li>AC Motor <i>(8501)</i></li>
          </ul>
        </div>
        <div class="Suooliers_more"> <span>More</span><i class="fa fa-caret-down"></i> </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="Suooliers_right">
     <div class="Suooliers_Screening">
        <div class="Suooliers_wenzi"><span>Supplers List</span></div>
        <div class="searchbox">
          <div class="input-group">
            <input type="text" class="form-control Suooliers_search" >
            <span class="input-group-addon" id="basic-addon2"><i class=" fa fa-search fa_Supplers_color"></i></span> </div>
        </div>
        <div class="All_suppliers"><span>9519 Supplier(s)</span></div>
        <div class="Audited_Supplier">
          <input type="checkbox" class="checkbox_left">
          <i></i><span>Audited Supplier</span></div>
        <div class="Audited_Supplier">
          <input type="checkbox" class="checkbox_left">
          <b></b><span>Online</span></div>
        <div class="Suooliers_show"><span>show:</span>
          <select class="Suooliers_select">
            <option>10 items</option>
            <option>20 items</option>
            <option>30 items</option>
          </select>
        </div>
        <div class="clear"></div>
      </div>
    <div class="Supplers_Totallist">
        <div class="Supplers_List">
          <div class="Supplers_Listleft">
            <h2><a href="">Changzhou Baolong Motor Co., Ltd.</a></h2>
            <span><i></i>Audited Supplier</span>
           <ul>
              <li><b>Business Type :</b><i>Manufacturer</i></li>
              <li><b>Main Products :</b><i>Vacuum Cleaner Motor ,  Motor ,  DC Motor ,  AC Motor ,  Series Motor ....</i></li>
              <li><b>Location:</b><i>The United States</i></li>
              <li><b>Total Annual Sales Volume:</b><i>US$5 Million-  US$ 10 Million</i></li>
              <li><b>Top3 market :</b><i>North America 8% , South America 8% , Eastern Europe 8%</i></li>
            </ul>
          </div>
          <div class="Supplers_Listright">
            <div class="Supplers_Listimg">
              <div class="Supplers_Product_display">
                <div class="Supplers_Product"><a href=""><img src="images/Suppliersimg/Supplers_01.jpg" class="image-fluid" alt="" title=""></a></div>
                <span><a href="">These motors belong to phase</a></span> </div>
              <div class="Supplers_Product_display">
                <div class="Supplers_Product"><a href=""><img src="images/Suppliersimg/Supplers_02.jpg" class="image-fluid" alt="" title=""></a></div>
                <span><a href="">These motors belong to phase</a></span> </div>
              <div class="Supplers_Product_display">
                <div class="Supplers_Product"><a href=""><img src="images/Suppliersimg/Supplers_03.jpg" class="image-fluid" alt="" title=""></a></div>
                <span><a href="">These motors belong to phase</a></span> </div>
            </div>
            <div class="Supplers_Message">
              <div class="Supplers_Contact_Now Supplers_width" data-toggle="modal" data-target="#myModal"><i class="fa fa-envelope Supplers-size"></i>Contact Now </div>
              <div class="Supplers_Leave"><b></b><span>Leave a Message</span></div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
   
   <div class="Supplers_List">
          <div class="Supplers_Listleft">
            <h2><a href="">Changzhou Baolong Motor Co., Ltd.</a></h2>
            <span><i></i>Audited Supplier</span>
           <ul>
              <li><b>Business Type :</b><i>Manufacturer</i></li>
              <li><b>Main Products :</b><i>Vacuum Cleaner Motor ,  Motor ,  DC Motor ,  AC Motor ,  Series Motor ....</i></li>
              <li><b>Location:</b><i>The United States</i></li>
              <li><b>Total Annual Sales Volume:</b><i>US$5 Million-  US$ 10 Million</i></li>
              <li><b>Top3 market :</b><i>North America 8% , South America 8% , Eastern Europe 8%</i></li>
            </ul>
          </div>
          <div class="Supplers_Listright">
            <div class="Supplers_Listimg">
              <div class="Supplers_Product_display">
                <div class="Supplers_Product"><a href=""><img src="images/Suppliersimg/Supplers_01.jpg" class="image-fluid" alt="" title=""></a></div>
                <span><a href="">These motors belong to phase</a></span> </div>
              <div class="Supplers_Product_display">
                <div class="Supplers_Product"><a href=""><img src="images/Suppliersimg/Supplers_02.jpg" class="image-fluid" alt="" title=""></a></div>
                <span><a href="">These motors belong to phase</a></span> </div>
              <div class="Supplers_Product_display">
                <div class="Supplers_Product"><a href=""><img src="images/Suppliersimg/Supplers_03.jpg" class="image-fluid" alt="" title=""></a></div>
                <span><a href="">These motors belong to phase</a></span> </div>
            </div>
            <div class="Supplers_Message">
              <div class="Supplers_Contact_Now Supplers_width" data-toggle="modal" data-target="#myModal"><i class="fa fa-envelope Supplers-size"></i>Contact Now </div>
              <div class="Supplers_Leave"><b></b><span>Leave a Message</span></div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="Supplers_List">
          <div class="Supplers_Listleft">
            <h2><a href="">Changzhou Baolong Motor Co., Ltd.</a></h2>
            <span><i></i>Audited Supplier</span>
           <ul>
              <li><b>Business Type :</b><i>Manufacturer</i></li>
              <li><b>Main Products :</b><i>Vacuum Cleaner Motor ,  Motor ,  DC Motor ,  AC Motor ,  Series Motor ....</i></li>
              <li><b>Location:</b><i>The United States</i></li>
              <li><b>Total Annual Sales Volume:</b><i>US$5 Million-  US$ 10 Million</i></li>
              <li><b>Top3 market :</b><i>North America 8% , South America 8% , Eastern Europe 8%</i></li>
            </ul>
          </div>
          <div class="Supplers_Listright">
            <div class="Supplers_Listimg">
              <div class="Supplers_Product_display">
                <div class="Supplers_Product"><a href=""><img src="images/Suppliersimg/Supplers_01.jpg" class="image-fluid" alt="" title=""></a></div>
                <span><a href="">These motors belong to phase</a></span> </div>
              <div class="Supplers_Product_display">
                <div class="Supplers_Product"><a href=""><img src="images/Suppliersimg/Supplers_02.jpg" class="image-fluid" alt="" title=""></a></div>
                <span><a href="">These motors belong to phase</a></span> </div>
              <div class="Supplers_Product_display">
                <div class="Supplers_Product"><a href=""><img src="images/Suppliersimg/Supplers_03.jpg" class="image-fluid" alt="" title=""></a></div>
                <span><a href="">These motors belong to phase</a></span> </div>
            </div>
            <div class="Supplers_Message">
              <div class="Supplers_Contact_Now Supplers_width" data-toggle="modal" data-target="#myModal"><i class="fa fa-envelope Supplers-size"></i>Contact Now </div>
              <div class="Supplers_Leave"><b></b><span>Leave a Message</span></div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="Supplers_List">
          <div class="Supplers_Listleft">
            <h2><a href="">Changzhou Baolong Motor Co., Ltd.</a></h2>
            <span><i></i>Audited Supplier</span>
           <ul>
              <li><b>Business Type :</b><i>Manufacturer</i></li>
              <li><b>Main Products :</b><i>Vacuum Cleaner Motor ,  Motor ,  DC Motor ,  AC Motor ,  Series Motor ....</i></li>
              <li><b>Location:</b><i>The United States</i></li>
              <li><b>Total Annual Sales Volume:</b><i>US$5 Million-  US$ 10 Million</i></li>
              <li><b>Top3 market :</b><i>North America 8% , South America 8% , Eastern Europe 8%</i></li>
            </ul>
          </div>
          <div class="Supplers_Listright">
            <div class="Supplers_Listimg">
              <div class="Supplers_Product_display">
                <div class="Supplers_Product"><a href=""><img src="images/Suppliersimg/Supplers_01.jpg" class="image-fluid" alt="" title=""></a></div>
                <span><a href="">These motors belong to phase</a></span> </div>
              <div class="Supplers_Product_display">
                <div class="Supplers_Product"><a href=""><img src="images/Suppliersimg/Supplers_02.jpg" class="image-fluid" alt="" title=""></a></div>
                <span><a href="">These motors belong to phase</a></span> </div>
              <div class="Supplers_Product_display">
                <div class="Supplers_Product"><a href=""><img src="images/Suppliersimg/Supplers_03.jpg" class="image-fluid" alt="" title=""></a></div>
                <span><a href="">These motors belong to phase</a></span> </div>
            </div>
            <div class="Supplers_Message">
              <div class="Supplers_Contact_Now Supplers_width" data-toggle="modal" data-target="#myModal"><i class="fa fa-envelope Supplers-size"></i>Contact Now </div>
              <div class="Supplers_Leave"><b></b><span>Leave a Message</span></div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="Supplers_List">
          <div class="Supplers_Listleft">
            <h2><a href="">Changzhou Baolong Motor Co., Ltd.</a></h2>
            <span><i></i>Audited Supplier</span>
           <ul>
              <li><b>Business Type :</b><i>Manufacturer</i></li>
              <li><b>Main Products :</b><i>Vacuum Cleaner Motor ,  Motor ,  DC Motor ,  AC Motor ,  Series Motor ....</i></li>
              <li><b>Location:</b><i>The United States</i></li>
              <li><b>Total Annual Sales Volume:</b><i>US$5 Million-  US$ 10 Million</i></li>
              <li><b>Top3 market :</b><i>North America 8% , South America 8% , Eastern Europe 8%</i></li>
            </ul>
          </div>
          <div class="Supplers_Listright">
            <div class="Supplers_Listimg">
              <div class="Supplers_Product_display">
                <div class="Supplers_Product"><a href=""><img src="images/Suppliersimg/Supplers_01.jpg" class="image-fluid" alt="" title=""></a></div>
                <span><a href="">These motors belong to phase</a></span> </div>
              <div class="Supplers_Product_display">
                <div class="Supplers_Product"><a href=""><img src="images/Suppliersimg/Supplers_02.jpg" class="image-fluid" alt="" title=""></a></div>
                <span><a href="">These motors belong to phase</a></span> </div>
              <div class="Supplers_Product_display">
                <div class="Supplers_Product"><a href=""><img src="images/Suppliersimg/Supplers_03.jpg" class="image-fluid" alt="" title=""></a></div>
                <span><a href="">These motors belong to phase</a></span> </div>
            </div>
            <div class="Supplers_Message">
              <div class="Supplers_Contact_Now Supplers_width" data-toggle="modal" data-target="#myModal"><i class="fa fa-envelope Supplers-size"></i>Contact Now </div>
              <div class="Supplers_Leave"><b></b><span>Leave a Message</span></div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="Supplers_List">
          <div class="Supplers_Listleft">
            <h2><a href="">Changzhou Baolong Motor Co., Ltd.</a></h2>
            <span><i></i>Audited Supplier</span>
           <ul>
              <li><b>Business Type :</b><i>Manufacturer</i></li>
              <li><b>Main Products :</b><i>Vacuum Cleaner Motor ,  Motor ,  DC Motor ,  AC Motor ,  Series Motor ....</i></li>
              <li><b>Location:</b><i>The United States</i></li>
              <li><b>Total Annual Sales Volume:</b><i>US$5 Million-  US$ 10 Million</i></li>
              <li><b>Top3 market :</b><i>North America 8% , South America 8% , Eastern Europe 8%</i></li>
            </ul>
          </div>
          <div class="Supplers_Listright">
            <div class="Supplers_Listimg">
              <div class="Supplers_Product_display">
                <div class="Supplers_Product"><a href=""><img src="images/Suppliersimg/Supplers_01.jpg" class="image-fluid" alt="" title=""></a></div>
                <span><a href="">These motors belong to phase</a></span> </div>
              <div class="Supplers_Product_display">
                <div class="Supplers_Product"><a href=""><img src="images/Suppliersimg/Supplers_02.jpg" class="image-fluid" alt="" title=""></a></div>
                <span><a href="">These motors belong to phase</a></span> </div>
              <div class="Supplers_Product_display">
                <div class="Supplers_Product"><a href=""><img src="images/Suppliersimg/Supplers_03.jpg" class="image-fluid" alt="" title=""></a></div>
                <span><a href="">These motors belong to phase</a></span> </div>
            </div>
            <div class="Supplers_Message">
              <div class="Supplers_Contact_Now Supplers_width" data-toggle="modal" data-target="#myModal"><i class="fa fa-envelope Supplers-size"></i>Contact Now </div>
              <div class="Supplers_Leave"><b></b><span>Leave a Message</span></div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="Supplers_List">
          <div class="Supplers_Listleft">
            <h2><a href="">Changzhou Baolong Motor Co., Ltd.</a></h2>
            <span><i></i>Audited Supplier</span>
           <ul>
              <li><b>Business Type :</b><i>Manufacturer</i></li>
              <li><b>Main Products :</b><i>Vacuum Cleaner Motor ,  Motor ,  DC Motor ,  AC Motor ,  Series Motor ....</i></li>
              <li><b>Location:</b><i>The United States</i></li>
              <li><b>Total Annual Sales Volume:</b><i>US$5 Million-  US$ 10 Million</i></li>
              <li><b>Top3 market :</b><i>North America 8% , South America 8% , Eastern Europe 8%</i></li>
            </ul>
          </div>
          <div class="Supplers_Listright">
            <div class="Supplers_Listimg">
              <div class="Supplers_Product_display">
                <div class="Supplers_Product"><a href=""><img src="images/Suppliersimg/Supplers_01.jpg" class="image-fluid" alt="" title=""></a></div>
                <span><a href="">These motors belong to phase</a></span> </div>
              <div class="Supplers_Product_display">
                <div class="Supplers_Product"><a href=""><img src="images/Suppliersimg/Supplers_02.jpg" class="image-fluid" alt="" title=""></a></div>
                <span><a href="">These motors belong to phase</a></span> </div>
              <div class="Supplers_Product_display">
                <div class="Supplers_Product"><a href=""><img src="images/Suppliersimg/Supplers_03.jpg" class="image-fluid" alt="" title=""></a></div>
                <span><a href="">These motors belong to phase</a></span> </div>
            </div>
            <div class="Supplers_Message">
              <div class="Supplers_Contact_Now Supplers_width" data-toggle="modal" data-target="#myModal"><i class="fa fa-envelope Supplers-size"></i>Contact Now </div>
              <div class="Supplers_Leave"><b></b><span>Leave a Message</span></div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="Supplers_List">
          <div class="Supplers_Listleft">
            <h2><a href="">Changzhou Baolong Motor Co., Ltd.</a></h2>
            <span><i></i>Audited Supplier</span>
           <ul>
              <li><b>Business Type :</b><i>Manufacturer</i></li>
              <li><b>Main Products :</b><i>Vacuum Cleaner Motor ,  Motor ,  DC Motor ,  AC Motor ,  Series Motor ....</i></li>
              <li><b>Location:</b><i>The United States</i></li>
              <li><b>Total Annual Sales Volume:</b><i>US$5 Million-  US$ 10 Million</i></li>
              <li><b>Top3 market :</b><i>North America 8% , South America 8% , Eastern Europe 8%</i></li>
            </ul>
          </div>
          <div class="Supplers_Listright">
            <div class="Supplers_Listimg">
              <div class="Supplers_Product_display">
                <div class="Supplers_Product"><a href=""><img src="images/Suppliersimg/Supplers_01.jpg" class="image-fluid" alt="" title=""></a></div>
                <span><a href="">These motors belong to phase</a></span> </div>
              <div class="Supplers_Product_display">
                <div class="Supplers_Product"><a href=""><img src="images/Suppliersimg/Supplers_02.jpg" class="image-fluid" alt="" title=""></a></div>
                <span><a href="">These motors belong to phase</a></span> </div>
              <div class="Supplers_Product_display">
                <div class="Supplers_Product"><a href=""><img src="images/Suppliersimg/Supplers_03.jpg" class="image-fluid" alt="" title=""></a></div>
                <span><a href="">These motors belong to phase</a></span> </div>
            </div>
            <div class="Supplers_Message">
              <div class="Supplers_Contact_Now Supplers_width" data-toggle="modal" data-target="#myModal"><i class="fa fa-envelope Supplers-size"></i>Contact Now </div>
              <div class="Supplers_Leave"><b></b><span>Leave a Message</span></div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="Supplers_List">
          <div class="Supplers_Listleft">
            <h2><a href="">Changzhou Baolong Motor Co., Ltd.</a></h2>
            <span><i></i>Audited Supplier</span>
           <ul>
              <li><b>Business Type :</b><i>Manufacturer</i></li>
              <li><b>Main Products :</b><i>Vacuum Cleaner Motor ,  Motor ,  DC Motor ,  AC Motor ,  Series Motor ....</i></li>
              <li><b>Location:</b><i>The United States</i></li>
              <li><b>Total Annual Sales Volume:</b><i>US$5 Million-  US$ 10 Million</i></li>
              <li><b>Top3 market :</b><i>North America 8% , South America 8% , Eastern Europe 8%</i></li>
            </ul>
          </div>
          <div class="Supplers_Listright">
            <div class="Supplers_Listimg">
              <div class="Supplers_Product_display">
                <div class="Supplers_Product"><a href=""><img src="images/Suppliersimg/Supplers_01.jpg" class="image-fluid" alt="" title=""></a></div>
                <span><a href="">These motors belong to phase</a></span> </div>
              <div class="Supplers_Product_display">
                <div class="Supplers_Product"><a href=""><img src="images/Suppliersimg/Supplers_02.jpg" class="image-fluid" alt="" title=""></a></div>
                <span><a href="">These motors belong to phase</a></span> </div>
              <div class="Supplers_Product_display">
                <div class="Supplers_Product"><a href=""><img src="images/Suppliersimg/Supplers_03.jpg" class="image-fluid" alt="" title=""></a></div>
                <span><a href="">These motors belong to phase</a></span> </div>
            </div>
            <div class="Supplers_Message">
              <div class="Supplers_Contact_Now Supplers_width" data-toggle="modal" data-target="#myModal"><i class="fa fa-envelope Supplers-size"></i>Contact Now </div>
              <div class="Supplers_Leave"><b></b><span>Leave a Message</span></div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="Supplers_List">
          <div class="Supplers_Listleft">
            <h2><a href="">Changzhou Baolong Motor Co., Ltd.</a></h2>
            <span><i></i>Audited Supplier</span>
           <ul>
              <li><b>Business Type :</b><i>Manufacturer</i></li>
              <li><b>Main Products :</b><i>Vacuum Cleaner Motor ,  Motor ,  DC Motor ,  AC Motor ,  Series Motor ....</i></li>
              <li><b>Location:</b><i>The United States</i></li>
              <li><b>Total Annual Sales Volume:</b><i>US$5 Million-  US$ 10 Million</i></li>
              <li><b>Top3 market :</b><i>North America 8% , South America 8% , Eastern Europe 8%</i></li>
            </ul>
          </div>
          <div class="Supplers_Listright">
            <div class="Supplers_Listimg">
              <div class="Supplers_Product_display">
                <div class="Supplers_Product"><a href=""><img src="images/Suppliersimg/Supplers_01.jpg" class="image-fluid" alt="" title=""></a></div>
                <span><a href="">These motors belong to phase</a></span> </div>
              <div class="Supplers_Product_display">
                <div class="Supplers_Product"><a href=""><img src="images/Suppliersimg/Supplers_02.jpg" class="image-fluid" alt="" title=""></a></div>
                <span><a href="">These motors belong to phase</a></span> </div>
              <div class="Supplers_Product_display">
                <div class="Supplers_Product"><a href=""><img src="images/Suppliersimg/Supplers_03.jpg" class="image-fluid" alt="" title=""></a></div>
                <span><a href="">These motors belong to phase</a></span> </div>
            </div>
            <div class="Supplers_Message">
              <div class="Supplers_Contact_Now Supplers_width" data-toggle="modal" data-target="#myModal"><i class="fa fa-envelope Supplers-size"></i>Contact Now </div>
              <div class="Supplers_Leave"><b></b><span>Leave a Message</span></div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
       <div class="Info-page product_page">
          <div class="tcdPageCode"></div>
        </div>
      </div>
      <div class="suppliers_price">
        <div class="suppliers_pricebox">
            <div class="product_Hierarchy"><span>You May Like</span><a class="suppliers_next" onclick="javascript:price();">Refresh<i class="fa fa-rotate-right"></i></a></div>          
          <div class="bd">
              <ul id="next1">
                <li>
                  <div class="suppliers_priceimg"><a href=""><img src="images/gdfgbv.png" class="image-fluid" alt="" title=""></a></div>
                  <h4><a href="">These motors belong to phase </a></h4>
                  <span>Price:<b>US15.00</b></span> <span> Min.order:<i>10 pieses</i></span> </li>
                <li>
                  <div class="suppliers_priceimg"><a href=""><img src="images/Suppliersimg/Supplers_02.jpg" class="image-fluid" alt="" title=""></a></div>
                  <h4><a href="">These motors belong to phase </a></h4>
                  <span>Price:<b>US15.00</b></span> <span> Min.order:<i>10 pieses</i></span> </li>
                <li>
                  <div class="suppliers_priceimg"><a href=""><img src="images/Suppliersimg/Supplers_04.jpg" class="image-fluid" alt="" title=""></a></div>
                  <h4><a href="">These motors belong to phase </a></h4>
                  <span>Price:<b>US15.00</b></span> <span> Min.order:<i>10 pieses</i></span> </li>
                <li>
                  <div class="suppliers_priceimg"><a href=""><img src="images/Suppliersimg/Supplers_02.jpg" class="image-fluid" alt="" title=""></a></div>
                  <h4><a href="">These motors belong to phase </a></h4>
                  <span>Price:<b>US15.00</b></span> <span> Min.order:<i>10 pieses</i></span> </li>
                <li>
                  <div class="suppliers_priceimg"><a href=""><img src="images/Suppliersimg/Supplers_04.jpg" class="image-fluid" alt="" title=""></a></div>
                  <h4><a href="">These motors belong to phase </a></h4>
                  <span>Price:<b>US15.00</b></span> <span> Min.order:<i>10 pieses</i></span> </li>
                <li>
                  <div class="suppliers_priceimg"><a href=""><img src="images/Suppliersimg/Supplers_04.jpg" class="image-fluid" alt="" title=""></a></div>
                  <h4><a href="">These motors belong to phase </a></h4>
                  <span>Price:<b>US15.00</b></span> <span> Min.order:<i>10 pieses</i></span> </li>
              </ul>
              <ul id="next2" style="display:none">
                <li>
                  <div class="suppliers_priceimg"><a href=""><img src="images/Suppliersimg/Supplers_01.jpg" class="image-fluid" alt="" title=""></a></div>
                  <h4><a href="">These motors belong to phase </a></h4>
                  <span>Price:<b>US15.00</b></span> <span> Min.order:<i>10 pieses</i></span> </li>
                <li>
                  <div class="suppliers_priceimg"><a href=""><img src="images/Suppliersimg/Supplers_01.jpg" class="image-fluid" alt="" title=""></a></div>
                  <h4><a href="">These motors belong to phase </a></h4>
                  <span>Price:<b>US15.00</b></span> <span> Min.order:<i>10 pieses</i></span> </li>
                <li>
                  <div class="suppliers_priceimg"><a href=""><img src="images/Suppliersimg/Supplers_01.jpg" class="image-fluid" alt="" title=""></a></div>
                  <h4><a href="">These motors belong to phase </a></h4>
                  <span>Price:<b>US15.00</b></span> <span> Min.order:<i>10 pieses</i></span> </li>
                <li>
                  <div class="suppliers_priceimg"><a href=""><img src="images/Suppliersimg/Supplers_01.jpg"class="image-fluid" alt="" title=""></a></div>
                  <h4><a href="">These motors belong to phase </a></h4>
                  <span>Price:<b>US15.00</b></span> <span> Min.order:<i>10 pieses</i></span> </li>
                <li>
                  <div class="suppliers_priceimg"><a href=""><img src="images/Suppliersimg/Supplers_01.jpg" class="image-fluid" alt="" title=""></a></div>
                  <h4><a href="">These motors belong to phase </a></h4>
                  <span>Price:<b>US15.00</b></span> <span> Min.order:<i>10 pieses</i></span> </li>
                <li>
                  <div class="suppliers_priceimg"><a href=""><img src="images/Suppliersimg/Supplers_04.jpg" class="image-fluid" alt="" title=""></a></div>
                  <h4><a href="">These motors belong to phase </a></h4>
                  <span>Price:<b>US15.00</b></span> <span> Min.order:<i>10 pieses</i></span> </li>
              </ul>
               <ul id="next3" style="display:none">
                <li>
                  <div class="suppliers_priceimg"><a href=""><img src="images/Suppliersimg/Supplers_04.jpg" class="image-fluid" alt="" title=""></a></div>
                  <h4><a href="">These motors belong to phase </a></h4>
                  <span>Price:<b>US15.00</b></span> <span> Min.order:<i>10 pieses</i></span> </li>
                <li>
                  <div class="suppliers_priceimg"><a href=""><img src="images/Suppliersimg/Supplers_02.jpg" class="image-fluid" alt="" title=""></a></div>
                  <h4><a href="">These motors belong to phase </a></h4>
                  <span>Price:<b>US15.00</b></span> <span> Min.order:<i>10 pieses</i></span> </li>
                <li>
                  <div class="suppliers_priceimg"><a href=""><img src="images/Suppliersimg/Supplers_02.jpg" class="image-fluid" alt="" title=""></a></div>
                  <h4><a href="">These motors belong to phase </a></h4>
                  <span>Price:<b>US15.00</b></span> <span> Min.order:<i>10 pieses</i></span> </li>
                <li>
                  <div class="suppliers_priceimg"><a href=""><img src="images/Suppliersimg/Supplers_04.jpg" class="image-fluid" alt="" title=""></a></div>
                  <h4><a href="">These motors belong to phase </a></h4>
                  <span>Price:<b>US15.00</b></span> <span> Min.order:<i>10 pieses</i></span> </li>
                <li>
                  <div class="suppliers_priceimg"><a href=""><img src="images/Suppliersimg/Supplers_02.jpg" class="image-fluid" alt="" title=""></a></div>
                  <h4><a href="">These motors belong to phase </a></h4>
                  <span>Price:<b>US15.00</b></span> <span> Min.order:<i>10 pieses</i></span> </li>
                <li>
                  <div class="suppliers_priceimg"><a href=""><img src="images/Suppliersimg/Supplers_04.jpg" class="image-fluid" alt="" title=""></a></div>
                  <h4><a href="">These motors belong to phase </a></h4>
                  <span>Price:<b>US15.00</b></span> <span> Min.order:<i>10 pieses</i></span> </li>
              </ul>
              <div class="clear"></div>
          </div>
        </div>
      </div>
      
      <div class="suppliers_price">
       	<div class="product_Hierarchy"><span>Hot product</span><a class="suppliers_next" onclick="javascript:price();">Refresh<i class="fa fa-rotate-right"></i></a></div>
        <div class="suppliers_Hotproductbox">
        <div class="suppliers_Hotproductlast">
        	<div class="suppliers_Hotproductimg"><a href=""><img src="images/Suppliersimg/Supplers_05.jpg" class="image-fluid" alt=""></a></div>
            <span><a href="">These motors belong to phase </a></span>
            <strong>US15.00</strong>
        </div>
        <div class="suppliers_Hotproductlast">
        	<div class="suppliers_Hotproductimg"><a href=""><img src="images/Suppliersimg/Supplers_05.jpg" class="image-fluid" alt=""></a></div>
            <span><a href="">These motors belong to phase </a></span>
            <strong>US15.00</strong>
        </div>
        <div class="suppliers_Hotproductlast">
        	<div class="suppliers_Hotproductimg"><a href=""><img src="images/Suppliersimg/Supplers_01.jpg" class="image-fluid" alt=""></a></div>
            <span><a href="">These motors belong to phase </a></span>
            <strong>US15.00</strong>
        </div>
        <div class="suppliers_Hotproductlast">
        	<div class="suppliers_Hotproductimg"><a href=""><img src="images/Suppliersimg/Supplers_05.jpg" class="image-fluid" alt=""></a></div>
            <span><a href="">These motors belong to phase </a></span>
            <strong>US15.00</strong>
        </div>
        <div class="suppliers_Hotproductlast">
        	<div class="suppliers_Hotproductimg"><a href=""><img src="images/gdfgbv.png" class="image-fluid" alt=""></a></div>
            <span><a href="">These motors belong to phase </a></span>
            <strong>US15.00</strong>
        </div>
        <div class="suppliers_Hotproductlast">
        	<div class="suppliers_Hotproductimg"><a href=""><img src="images/Suppliersimg/Supplers_05.jpg" class="image-fluid" alt=""></a></div>
            <span><a href="">These motors belong to phase </a></span>
            <strong>US15.00</strong>
        </div>
        <div class=""></div>
        </div>
      </div>
      
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<!--Sending disk-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Send Inquiry</h4>
    </div>
    <form>
      <div class="modal_emall">
        <label><i>*</i>Form</label>
        <input type="text" name="" placeholder="Enter your email address"  class="modal_form" >
      </div>
      <div class="modal_emall">
        <label><i>*</i>To</label>
        <div class="chanpinimg"></div>
      </div>
      <div class="modal_emall">
        <label><i>*</i>Subject</label>
        <input type="text" name="" placeholder="nquiry about Universal Motor / Flour Mill Motor / Blender Motor / Food Processor Motor" class="modal_Subject" >
      </div>
      <div class="modal_emall">
        <label><i>*</i>Purchase Quantity</label>
        <input type="text" name="" class="modal_Purchase" >
        <select name="" class="modal_Quantity">
          <option>Box</option>
          <option>Pieces</option>
        </select>
      </div>
      <div class="modal_emall">
        <label><i>*</i>Content</label>
        <textarea class="modal_Pdetails_Content" placeholder="We suggest you detail your product requirements and company information here" ></textarea>
      </div>
      <div  class="product_Notes">Your inquiry content must be between 20 to 4000 characters.</div>
      <div  class="product_Notes">
        <button>Send Inquiry</button>
      </div>
      <div  class="product_Notes"><i>*</i>
        <label>Please contact the merchant service information</label>
      </div>
      <div  class="product_Notes"><i>*</i>
        <label>Please make sure your contact information is correct.</label>
      </div>
      <div  class="product_Prompt">Your message will be sent directly to the recipient(s) and will not be publicly displayed. </div>
      <div  class="product_Prompt">We will never distribute or sell your personal information to third parties without your express permission.</div>
      <div class="clear"></div>
    </form>
  </div>
</div>
<!--Sending disk--> 
<!--suppliers end--> 