<div class="Information">
  <div class="MInformationmain">
  <div class="Info_NewsFigure">
      <div class="Info_NewsBusiness">
       <div class="Info-shipsIndustry">
      <div class="Info-ships">
         <div class="Info-ships-Title"><span><a href="">Industry news</a></span></div>
          <div class="Info-HotTopic">
            <h2><a href="">Goodyear Testing Self-inflating Tires</a></h2>
            <div class="shipsimg"><a href="#"><img src="images/newsimg/Information_04.jpg" alt="" class="image-fluid"/></a></div>
            <div class="Info-shipsjianjie"><a href="#">We are a Professional OEM/ODM Manufacturer of LED Products, Our factory was established in 2006, covering over </a></div>
          </div>
          <div class="ships-last">
            <ul>
              <li><i class="i-dian">●</i><a href="">To many drivers, changing the tires on a vehicle means a biannual trip</a></li>
              <li><i class="i-dian">●</i><a href="">To many drivers, changing the tires on a vehicle means a biannual trip</a></li>
              <li><i class="i-dian">●</i><a href="">To many drivers, changing the tires on a vehicle means a biannual trip</a></li>
              <li><i class="i-dian">●</i><a href="">To many drivers, changing the tires on a vehicle means a biannual trip</a></li>
            </ul>
          </div>
          <div class="clear"></div>
        </div>
        <div class="Info-ships Industry-right">
         <div class="Info-ships-Title"><span><a href="">Industry news</a></span></div>
          <div class="Info-HotTopic">
            <h2><a href="">Goodyear Testing Self-inflating Tires</a></h2>
            <div class="shipsimg"><a href="#"><img src="images/newsimg/Information_04.jpg" alt="" class="image-fluid"/></a></div>
            <div class="Info-shipsjianjie"><a href="#">We are a Professional OEM/ODM Manufacturer of LED Products, Our factory was established in 2006, covering over </a></div>
          </div>
          <div class="ships-last">
            <ul>
              <li><i class="i-dian">●</i><a href="">To many drivers, changing the tires on a vehicle means a biannual trip</a></li>
              <li><i class="i-dian">●</i><a href="">To many drivers, changing the tires on a vehicle means a biannual trip</a></li>
              <li><i class="i-dian">●</i><a href="">To many drivers, changing the tires on a vehicle means a biannual trip</a></li>
              <li><i class="i-dian">●</i><a href="">To many drivers, changing the tires on a vehicle means a biannual trip</a></li>
            </ul>
          </div>
          <div class="clear"></div>
        </div>
<div class="Info-ships">
         <div class="Info-ships-Title"><span><a href="">Industry news</a></span></div>
          <div class="Info-HotTopic">
            <h2><a href="">Goodyear Testing Self-inflating Tires</a></h2>
            <div class="shipsimg"><a href="#"><img src="images/newsimg/Information_04.jpg" alt="" class="image-fluid"/></a></div>
            <div class="Info-shipsjianjie"><a href="#">We are a Professional OEM/ODM Manufacturer of LED Products, Our factory was established in 2006, covering over </a></div>
          </div>
          <div class="ships-last">
            <ul>
              <li><i class="i-dian">●</i><a href="">To many drivers, changing the tires on a vehicle means a biannual trip</a></li>
              <li><i class="i-dian">●</i><a href="">To many drivers, changing the tires on a vehicle means a biannual trip</a></li>
              <li><i class="i-dian">●</i><a href="">To many drivers, changing the tires on a vehicle means a biannual trip</a></li>
              <li><i class="i-dian">●</i><a href="">To many drivers, changing the tires on a vehicle means a biannual trip</a></li>
            </ul>
          </div>
          <div class="clear"></div>
        </div>
<div class="Info-ships Industry-right">
         <div class="Info-ships-Title"><span><a href="">Industry news</a></span></div>
          <div class="Info-HotTopic">
            <h2><a href="">Goodyear Testing Self-inflating Tires</a></h2>
            <div class="shipsimg"><a href="#"><img src="images/newsimg/Information_04.jpg" alt="" class="image-fluid"/></a></div>
            <div class="Info-shipsjianjie"><a href="#">We are a Professional OEM/ODM Manufacturer of LED Products, Our factory was established in 2006, covering over </a></div>
          </div>
          <div class="ships-last">
            <ul>
              <li><i class="i-dian">●</i><a href="">To many drivers, changing the tires on a vehicle means a biannual trip</a></li>
              <li><i class="i-dian">●</i><a href="">To many drivers, changing the tires on a vehicle means a biannual trip</a></li>
              <li><i class="i-dian">●</i><a href="">To many drivers, changing the tires on a vehicle means a biannual trip</a></li>
              <li><i class="i-dian">●</i><a href="">To many drivers, changing the tires on a vehicle means a biannual trip</a></li>
            </ul>
          </div>
          <div class="clear"></div>
        </div>
        <div class=" clear"></div>
        </div>
      </div>
      <div class="Info_Figure">
        <div class="Info-Figurebox" id="Figurebox">
          <div class="hd">
            <ul>
              <li class="on"><a href="">Hot News</a></li>
              <li>Latest News</li>
            </ul>
          </div>
          <div class="bd">
            <ul>
              <li>
                <div class="Figureimg"><a href=""><img src="images/newsimg/Information_03.jpg" alt="" class="image-fluid"></a></div>
                <div class="Figureimgjianjie"><a href="">All tires are not produced equal. Every tire brand has its own ratings for traction</a></div>
                               <div class="clear"></div>

              </li>
              <li></li>
               <li>
                <div class="Figureimg"><a href=""><img src="images/newsimg/Information_03.jpg" alt="" class="image-fluid"></a></div>
                <div class="Figureimgjianjie"><a href="">All tires are not produced equal. Every tire brand has its own ratings for traction,</a></div>
                  <div class="clear"></div>
              </li>
              <li></li>
               <li>
                <div class="Figureimg"><a href=""><img src="images/newsimg/Information_03.jpg" alt="" class="image-fluid"></a></div>
                <div class="Figureimgjianjie"><a href="">All tires are not produced equal. Every tire brand has its own ratings for traction,</a></div>
                  <div class="clear"></div>
              </li>
              <li></li>
               <li>
                <div class="Figureimg"><a href=""><img src="images/newsimg/Information_03.jpg" alt="" class="image-fluid"></a></div>
                <div class="Figureimgjianjie"><a href="">All tires are not produced equal. Every tire brand has its own ratings for traction,</a></div>
                  <div class="clear"></div>
              </li>
              <li></li>
               <li>
                <div class="Figureimg"><a href=""><img src="images/newsimg/Information_03.jpg" alt="" class="image-fluid"></a></div>
                <div class="Figureimgjianjie"><a href="">All tires are not produced equal. Every tire brand has its own ratings for traction,</a></div>
                  <div class="clear"></div>
              </li>
              <li></li>
               <li>
                <div class="Figureimg"><a href=""><img src="images/newsimg/Information_03.jpg" alt="" class="image-fluid"></a></div>
                <div class="Figureimgjianjie"><a href="">All tires are not produced equal. Every tire brand has its own ratings for traction,</a></div>
                  <div class="clear"></div>
              </li>
              <li></li>
               <li>
                <div class="Figureimg"><a href=""><img src="images/newsimg/Information_03.jpg" alt="" class="image-fluid"></a></div>
                <div class="Figureimgjianjie"><a href="">All tires are not produced equal. Every tire brand has its own ratings for traction,</a></div>
                  <div class="clear"></div>
              </li>
               <div class="clear"></div>
            </ul>
            <ul>
            <li><a href="">All tires are not produced </a></li>
            <li></li>
            <li><a href="">All tires are not produced </a></li>
            <li></li>
            <li><a href="">All tires are not produced </a></li>
            <li></li>
            <li><a href="">All tires are not produced </a></li>
            <li></li>
            <li><a href="">All tires are not produced </a></li>
            <li></li>
            <li><a href="">All tires are not produced </a></li>
            <li></li>
            <li><a href="">All tires are not produced </a></li>
            <li></li>
            <li><a href="">All tires are not produced </a></li>
            <li></li>
            <li><a href="">All tires are not produced </a></li>
            <li></li>
            </ul>
          </div>
        </div>
          <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="Info_column ">
      <div class="Info-RepairBox">
       <div class="Info-ships-Title"><span><a href="">Design</a></span>/<span><a href="">Operation manual</a></span></div>
        <div class="bd">
          <ul>
            <li>
              <div class="Repairimg"><a href="#"><img src="images/newsimg/Information_02.jpg" alt="" class="image-fluid" /></a></div>
              <div class="Info-Repairjianjie"><a href="#"><span>Hawk Tire present at China GRATE2015 </span></a></div>
            </li>
            <li></li>
            <li> <a href="#"><i class="i-dian">●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Zhengzhou HaoYu Electric Motor</a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Zhengzhou HaoYu Electric Motor</a> </li>
            <li></li>
            <li> <a href="#"><i class="i-dian">●</i>Zhengzhou HaoYu Electric Motor</a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
          </ul>
          <div class="clear"></div>        
        </div>
      </div>
    </div>
    <div class="Info_column Info-RepairBox-right">
      <div class="Info-RepairBox">
       <div class="Info-ships-Title"><span><a href="">Design</a></span>/<span><a href="">Operation manual</a></span></div>
        <div class="bd">
          <ul>
            <li>
              <div class="Repairimg"><a href="#"><img src="images/newsimg/Information_02.jpg" alt="" class="image-fluid" /></a></div>
              <div class="Info-Repairjianjie"><a href="#"><span>Hawk Tire present at China GRATE2015 </span></a></div>
            </li>
            <li></li>
            <li> <a href="#"><i class="i-dian">●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Zhengzhou HaoYu Electric Motor</a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Zhengzhou HaoYu Electric Motor</a> </li>
            <li></li>
            <li> <a href="#"><i class="i-dian">●</i>Zhengzhou HaoYu Electric Motor</a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
          </ul>
          <div class="clear"></div>        
        </div>
      </div>
    </div>
    <div class="Info_column ">
      <div class="Info-RepairBox">
       <div class="Info-ships-Title"><span><a href="">Design</a></span>/<span><a href="">Operation manual</a></span></div>
        <div class="bd">
          <ul>
            <li>
              <div class="Repairimg"><a href="#"><img src="images/newsimg/Information_02.jpg" alt="" class="image-fluid" /></a></div>
              <div class="Info-Repairjianjie"><a href="#"><span>Hawk Tire present at China GRATE2015 </span></a></div>
            </li>
            <li></li>
            <li> <a href="#"><i class="i-dian">●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Zhengzhou HaoYu Electric Motor</a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Zhengzhou HaoYu Electric Motor</a> </li>
            <li></li>
            <li> <a href="#"><i class="i-dian">●</i>Zhengzhou HaoYu Electric Motor</a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
          </ul>
          <div class="clear"></div>        
        </div>
      </div>
    </div>
    <div class="Info_column ">
      <div class="Info-RepairBox">
       <div class="Info-ships-Title"><span><a href="">Design</a></span>/<span><a href="">Operation manual</a></span></div>
        <div class="bd">
          <ul>
            <li>
              <div class="Repairimg"><a href="#"><img src="images/newsimg/Information_02.jpg" alt="" class="image-fluid" /></a></div>
              <div class="Info-Repairjianjie"><a href="#"><span>Hawk Tire present at China GRATE2015 </span></a></div>
            </li>
            <li></li>
            <li> <a href="#"><i class="i-dian">●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Zhengzhou HaoYu Electric Motor</a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Zhengzhou HaoYu Electric Motor</a> </li>
            <li></li>
            <li> <a href="#"><i class="i-dian">●</i>Zhengzhou HaoYu Electric Motor</a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
          </ul>
          <div class="clear"></div>        
        </div>
      </div>
    </div>
    <div class="Info_column Info-RepairBox-right">
      <div class="Info-RepairBox">
       <div class="Info-ships-Title"><span><a href="">Design</a></span>/<span><a href="">Operation manual</a></span></div>
        <div class="bd">
          <ul>
            <li>
              <div class="Repairimg"><a href="#"><img src="images/newsimg/Information_02.jpg" alt="" class="image-fluid" /></a></div>
              <div class="Info-Repairjianjie"><a href="#"><span>Hawk Tire present at China GRATE2015 </span></a></div>
            </li>
            <li></li>
            <li> <a href="#"><i class="i-dian">●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Zhengzhou HaoYu Electric Motor</a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Zhengzhou HaoYu Electric Motor</a> </li>
            <li></li>
            <li> <a href="#"><i class="i-dian">●</i>Zhengzhou HaoYu Electric Motor</a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
          </ul>
          <div class="clear"></div>        
        </div>
      </div>
    </div>
    <div class="Info_column ">
      <div class="Info-RepairBox">
       <div class="Info-ships-Title"><span><a href="">Design</a></span>/<span><a href="">Operation manual</a></span></div>
        <div class="bd">
          <ul>
            <li>
              <div class="Repairimg"><a href="#"><img src="images/newsimg/Information_02.jpg" alt="" class="image-fluid" /></a></div>
              <div class="Info-Repairjianjie"><a href="#"><span>Hawk Tire present at China GRATE2015 </span></a></div>
            </li>
            <li></li>
            <li> <a href="#"><i class="i-dian">●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Zhengzhou HaoYu Electric Motor</a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Zhengzhou HaoYu Electric Motor</a> </li>
            <li></li>
            <li> <a href="#"><i class="i-dian">●</i>Zhengzhou HaoYu Electric Motor</a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
            <li><a href="#"><i class="i-dian" >●</i>Ningbo Ulike Technology Co., Ltd. (Manufacturer) </a> </li>
          </ul>
          <div class="clear"></div>        
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>