<div class="product_detailsmian">
  <div class="motors-suppliersLast sup_color">
   <div class="suppliers_name">
          <div class="suppliers_logo"><img src="images/Suppliersimg/s_logo.jpg" class="image-fluid" alt=""></div>
          <h1>Ningbo Twirl Motor Co., Ltd.</h1>
      </div>
  <div class="suppliers_nav">
      <ul class="navul clearfix">
      <li class="sli"><span><a href="">Home</a></span></li>
          <li class="sli">
         	 <span><a href="">Product Categories<i class="fa fa-caret-down"></i></a></span>
              <ul class="sub">
                  <li><a href="">DC brushed planet gearmotor</a></li>
                  <li><a href="">DC brushed planet gearmotor</a></li>
                   <li><a href="">DC brushed planet gearmotor</a></li>
                  <li><a href="">DC brushed planet gearmotor</a></li>
                   <li><a href="">DC brushed planet gearmotor</a></li>
                  <li><a href="">DC brushed planet gearmotor</a></li>
              </ul>
          </li>
          <li class="sli">
          	<span><a href=""> Company Profile<i class="fa fa-caret-down"></i></a></span>
              <ul class="sub">
                 <li><a href="">Company Overview</a></li>
                  <li><a href="">Industrial certification</a></li>
                   <li><a href="">Company Capability</a></li>
                  <li><a href="">Business Performance</a></li>
              </ul>
          </li>
           <li class="sli"><span><a href="">Contacts</a></span></li>
      </ul>
      
      </div>
      <div class="sup_contacts"><span><a href="">Home</a></span> > <span><a href="">contacts</a></span></div>
      <div class="sup_fenlei sup_padding">
          <div class="sup_left sup_aboutpadding">
          	<div class="sup_About"><span>About</span></div>
            <div class="sup_about_last">
            <ul><li><a href="">Company Profile</a></li><li><a href="">Audit Profile</a></li><li><a href="">Trade Capacity</a></li><li><a href="">Production Capacity</a></li></ul>
            </div>
          </div>
          <div class="sup_right">
           <div class="Company_Introduction"><span>Main Categories</span></div>
            <div class="Company_profile">
                <div class="Company_profile_left"><img src="images/Suppliersimg/Audit-Profile_03.jpg" class="image-fluid" alt="" title=""></div>
                <div class="Company_profile_right">
                <ul>
                    <li><i>Audit Date:</i><b>Aug 16,2015</b></li>
                    <li><i>Compary Name:</i><b>brushed planet gearmotor</b></li>
                    <li><i>Year of Establisment:</i><b>brushed planet gearmotor</b></li>
                    <li><i>products:</i><b>brushed planet gearmotor</b></li>
                    <li><i>Annual Revenue of Precious Year:</i><b>brushed planet gearmotor</b></li>
                    <li><i>Number of Employees:</i><b>brushed planet gearmotor</b></li>
                    <li><i>Main Markets:</i><b>brushed planet gearmotor</b></li>
                    <li><i>Onsite Photo:</i><img src="images/Suppliersimg/Audit-Profile_06.jpg" class="image-fluid" alt="" title=""></li>
                </ul>
                
                </div>
            </div>
            <div class="clear"></div>
            <div class="product_Send Send_border">
   <div class="Send_message send_padding">
   <div class="send_text">Send your message to this supplier</div>
   <div class="product_emall_form"><label><i>*</i>Form</label><input type="text" name="" placeholder="Enter your email address" class="form" ></div>
   <div class="product_emall_form"><label><i>*</i>to</label><div>Ms.Danny LI</div></div>
     <div class="product_emall_form"><label><i>*</i>Content</label><textarea class="Pdetails_Content"></textarea></div>
     <div  class="product_Notes">Your inquiry content must be between 20 to 4000 characters.</div>
     <div  class="product_Notes"><button>Send Inquiry</button></div>
     <div  class="product_Notes"><i>*</i><label>Please contact the merchant service information</label></div>
 <div  class="product_Notes"><i>*</i><label>Please make sure your contact information is correct.</label></div>
  <div  class="product_Prompt">Your message will be sent directly to the recipient(s) and will not be publicly displayed. </div>
   <div  class="product_Prompt">We will never distribute or sell your personal information to third parties without your express permission.</div>
     <div class="clear"></div>
   </div>
   </div>
           <div class="clear"></div>
          </div>
      </div>
          <div class="clear"></div>
  	</div>
  </div>