<div class="product_detailsmian">
  <div class="motors-suppliersLast sup_color">
   <div class="suppliers_name">
          <div class="suppliers_logo"><img src="images/Suppliersimg/s_logo.jpg" class="image-fluid" alt=""></div>
          <h1>Ningbo Twirl Motor Co., Ltd.</h1>
      </div>
  <div class="suppliers_nav">
      <ul class="navul clearfix">
      <li class="sli"><span><a href="">Home</a></span></li>
          <li class="sli">
         	 <span><a href="">Product Categories<i class="fa fa-caret-down"></i></a></span>
              <ul class="sub">
                  <li><a href="">DC brushed planet gearmotor</a></li>
                  <li><a href="">DC brushed planet gearmotor</a></li>
                   <li><a href="">DC brushed planet gearmotor</a></li>
                  <li><a href="">DC brushed planet gearmotor</a></li>
                   <li><a href="">DC brushed planet gearmotor</a></li>
                  <li><a href="">DC brushed planet gearmotor</a></li>
              </ul>
          </li>
          <li class="sli">
          	<span><a href=""> Company Profile<i class="fa fa-caret-down"></i></a></span>
              <ul class="sub">
                 <li><a href="">Company Overview</a></li>
                  <li><a href="">Industrial certification</a></li>
                   <li><a href="">Company Capability</a></li>
                  <li><a href="">Business Performance</a></li>
              </ul>
          </li>
           <li class="sli"><span><a href="">Contacts</a></span></li>
      </ul>
      
      </div>
      <div class="sup_contacts"><span><a href="">Home</a></span> > <span><a href="">contacts</a></span></div>
      <div class="sup_fenlei sup_padding">
          <div class="sup_left sup_aboutpadding">
          	<div class="sup_About"><span>About</span></div>
            <div class="sup_about_last">
            <ul><li><a href="">Company Profile</a></li><li><a href="">Audit Profile</a></li><li><a href="">Trade Capacity</a></li><li><a href="">Production Capacity</a></li></ul>
            </div>
          </div>
          <div class="sup_right">
           <div class="Company_Introduction"><span>Main Categories</span></div>
            <div class="Company_profile">
             <div class="Supplier_introduction_img" id="introductionBox">
        <div class="bd">
          <ul>
            <li><img src="images/blank.png" _src="images/Suppliersimg/sup_02.jpg" class="image-fluid" alt="" title=""/></li>
            <li><img src="images/blank.png" _src="images/ftre.jpg" class="image-fluid" alt="" title=""/></li>
            <li><img src="images/blank.png" _src="images/newsimg/Information_01.jpg" class="image-fluid" alt="" title=""/></li>
          </ul>
        </div>
        <div class="hd">
          <ul>
            <li><img src="images/Suppliersimg/sup_03.jpg" class="image-fluid" alt="" title=""/></li>
            <li><img src="images/Suppliersimg/sup_04.jpg" class="image-fluid" alt="" title=""/></li>
            <li><img src="images/Suppliersimg/sup_03.jpg" class="image-fluid" alt="" title=""/></li>
          </ul>
        </div>
      </div>
      <div class="Supplier_Business_introduction company_jianjie">
             <ul>
                 <li><i>Business Type:</i><b>Manufacturer & Trading Company</b></li>
                 <li><i>Main Products:</i><strong>Gear Motor , Motor , AC Motor , DC Motor ,Synchronous Motor , Asynchronous Motor , Small Motor ,  ...</strong></li>
                 <li><i>Total Annual Sales Volume:</i><b>6.16 Million USD</b></li>
                 <li><i>Location:</i><b>The United States</b></li>
                 <li><i>Hot market :</i><b>chain </b></li>
             </ul>
      </div>
            </div>
            <div class="company_info">
            <p>We can imagine that the coupling adds no load to the motor and that there is no unknown frictional component in the brake. At this point,
             it is important to measure the terminal resistance of the motor by contacting the motor terminals. 
             Then make the motor shaft spin to take another measurement which should be very close in value. </p>
             <p>We can imagine that the coupling adds no load to the motor and that there is no unknown frictional component in the brake. At this point,
             it is important to measure the terminal resistance of the motor by contacting the motor terminals. 
             Then make the motor shaft spin to take another measurement which should be very close in value. </p>
            <p>We can imagine that the coupling adds no load to the motor and that there is no unknown frictional component in the brake. At this point,
             it is important to measure the terminal resistance of the motor by contacting the motor terminals. 
             Then make the motor shaft spin to take another measurement which should be very close in value. </p>
            </div>
            <div class="clear"></div>
            <div class="product_Send Send_border">
   <div class="Send_message send_padding">
   <div class="send_text">Send your message to this supplier</div>
   <div class="product_emall_form"><label><i>*</i>Form</label><input type="text" name="" placeholder="Enter your email address" class="form" ></div>
   <div class="product_emall_form"><label><i>*</i>to</label><div>Ms.Danny LI</div></div>
     <div class="product_emall_form"><label><i>*</i>Content</label><textarea class="Pdetails_Content"></textarea></div>
     <div  class="product_Notes">Your inquiry content must be between 20 to 4000 characters.</div>
     <div  class="product_Notes"><button>Send Inquiry</button></div>
     <div  class="product_Notes"><i>*</i><label>Please contact the merchant service information</label></div>
 <div  class="product_Notes"><i>*</i><label>Please make sure your contact information is correct.</label></div>
  <div  class="product_Prompt">Your message will be sent directly to the recipient(s) and will not be publicly displayed. </div>
   <div  class="product_Prompt">We will never distribute or sell your personal information to third parties without your express permission.</div>
     <div class="clear"></div>
   </div>
   </div>
           <div class="clear"></div>
          </div>
      </div>
          <div class="clear"></div>
  	</div>
  </div>