<div class="product_detailsmian">
  <div class="motors-ProductDetailspage sup_yanse">
    <div class="suppliers_name">
      <div class="suppliers_logo"><img src="images/Suppliersimg/s_logo.jpg" class="image-fluid" alt=""></div>
      <h1>Ningbo Twirl Motor Co., Ltd.</h1>
    </div>
    <div class="suppliers_nav">
      <ul class="navul clearfix">
        <li class="sli"><span><a href="">Home</a></span></li>
        <li class="sli"> <span><a href="">Product Categories<i class="fa fa-caret-down"></i></a></span>
          <ul class="sub">
            <li><a href="">DC brushed planet gearmotor</a></li>
            <li><a href="">DC brushed planet gearmotor</a></li>
            <li><a href="">DC brushed planet gearmotor</a></li>
            <li><a href="">DC brushed planet gearmotor</a></li>
            <li><a href="">DC brushed planet gearmotor</a></li>
            <li><a href="">DC brushed planet gearmotor</a></li>
          </ul>
        </li>
        <li class="sli"> <span><a href=""> Company Profile<i class="fa fa-caret-down"></i></a></span>
          <ul class="sub">
            <li><a href="">Company Overview</a></li>
            <li><a href="">Industrial certification</a></li>
            <li><a href="">Company Capability</a></li>
            <li><a href="">Business Performance</a></li>
          </ul>
        </li>
        <li class="sli"><span><a href="">Contacts</a></span></li>
      </ul>
    </div>
    <div class="sup_contacts"><span><a href="">Home</a></span> > <span><a href="">Product Categories</a></span> > <span><a href="">PM DC SPUR</a></span> > <span><a href="">low power DC SPUR GEAR MOTOR</a></span></div>
    <div class="product_Preview flot">
      <div class="commodityBox">
        <div class="bd">
          <ul>
            <li><img src="images/blank.png" _src="images/Productimg/product.jpg" class="image-fluid" alt="" title=""/></li>
            <li><img src="images/blank.png" _src="images/ftre.jpg" class="image-fluid" alt="" title=""/></li>
            <li><img src="images/blank.png" _src="images/newsimg/Information_01.jpg" class="image-fluid" alt="" title=""/></li>
            <li><img src="images/blank.png" _src="images/newsimg/Information_01.jpg" class="image-fluid" alt="" title=""/></li>
          </ul>
        </div>
        <div class="hd">
          <ul>
            <li><img src="images/Productimg/product.jpg" class="image-fluid" alt="" title=""/></li>
            <li><img src="images/Productimg/product.jpg" class="image-fluid" alt="" title=""/></li>
            <li><img src="images/Productimg/product.jpg" class="image-fluid" alt="" title=""/></li>
            <li><img src="images/Productimg/product.jpg" class="image-fluid" alt="" title=""/></li>
          </ul>
        </div>
      </div>
      <div class="sup_pro_details">
        <h1>low power DC SPUR GEAR MOTOR</h1>
        <span>FOB Price:<strong>US15.00</strong></span> <span>Min. order: 10 Pieces<abbr title="Special orders please contact with the suppliers">*</abbr></span> <span>Trade Terms: FOB, CFR, CIF, EXW</span> <span>Certification: CCC,CE,ROHS,UL</span> <span>Commutation: Brushless</span> <span>Payment Terms: L/C,T/T</span> <span>Port: Port of Ningbo</span>
        <div class="sup_Quantity">
          <label>Quantity:</label>
          <input type="text" placeholder="1" class="Pieces">
          <label>Piece/Pieces</label>
        </div>
        <div class="sup_textarea">
          <textarea class="sup_Pdetails_Content" placeholder="Please enter your message"></textarea>
          <div  class="sup_product_Notes"><i>*</i>
            <label>Please contact the merchant service information</label>
          </div>
          <div class="sup_EMail" data-toggle="modal" data-target="#myModal">
            <div href="#" class="product_button"><i class="fa fa-envelope glyphicon-size"></i>Contact Supplier</div>
          </div>
          <div class="sup_product_share"> <span>share:</span> <span class='st_facebook_large' displayText='Facebook'></span> <span class='st_twitter_large' displayText='Tweet'></span> <span class='st_pinterest_large' displayText='Pinterest'></span> <span class='st_googleplus_large' displayText='Google +'></span> </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="sup_fenlei sup_padding">
      <div class="sup_left">
      <div class="sup_details">
      <h3>Verified Supplier </h3>
     <ul>
     <li>Ningbo Yinzh Longway Tech Co.，Ltd[China]</li>
     <li>Hot Markets:<i>china, japan , china , china , china , china</i></li>
     <li>Website:<i>http://www.lionball.cn</i></li>
     <li>Telephone:<i>86-755-29369246</i></li>
     <li>Security Services:<img src="images/Productimg/producticon.png" class=" image-fluid" alt=""></li>
     </ul>
      </div>
        <div class="input-group input-group-up">
          <input type="text" class="form-control" >
          <span class="input-group-addon input-group-left" id="basic-addon2"><i class=" fa fa-search fa_Supplers_color"></i></span> </div>
        <div class="Company_Introduction"><span>Main Categories</span></div>
        <div class="com_last">
          <ul>
            <li><a href="">DC brushed planet gearmotor</a></li>
            <li><a href="">DC brushed planet gearmotor</a></li>
            <li><a href="">DC brushed planet gearmotor</a></li>
            <li><a href="">DC brushed planet gearmotor</a></li>
            <li><a href="">DC brushed motor</a></li>
            <li><a href="">DC brushless motor</a></li>
            <li><a href="">DC brushed planet gearmotor</a></li>
            <li><a href="">DC brushed motor</a></li>
            <li><a href="">DC brushless motor</a></li>
            <li><a href="">DC brushed planet gearmotor</a></li>
            <li><a href="">DC brushed motor</a></li>
            <li><a href="">DC brushless motor</a></li>
            <li><a href="">DC brushed motor</a></li>
            <li><a href="">DC brushed planet gearmotor</a></li>
            <li><a href="">DC brushed motor</a></li>
            <li><a href="">DC brushless motor</a></li>
          </ul>
        </div>
        <div class="sup_Relatedproductlast">
          <div class="Company_Introduction"><span>Recommended</span></div>
          <div class="sup_Related">
            <div class="Related_Products">
              <div class="ReProductsimg"><a href=""><img src="images/Productimg/productlast_24.jpg" class="image-fluid" alt=""></a></div>
              <span><a href="">Reversible Motor Series</a></span> <span><b>US15:00</b></span> </div>
            <div class="Related_Products">
              <div class="ReProductsimg"><a href=""><img src="images/Productimg/productlast_24.jpg" class="image-fluid" alt=""></a></div>
              <span><a href="">Reversible Motor Series</a></span> <span><b>US15:00</b></span> </div>
            <div class="Related_Products">
              <div class="ReProductsimg"><a href=""><img src="images/Productimg/productlast_24.jpg" class="image-fluid" alt=""></a></div>
              <span><a href="">Reversible Motor Series</a></span> <span><b>US15:00</b></span> </div>
            <div class="Related_Products">
              <div class="ReProductsimg"><a href=""><img src="images/Productimg/productlast_24.jpg" class="image-fluid" alt=""></a></div>
              <span><a href="">Reversible Motor Series</a></span> <span><b>US15:00</b></span> </div>
            <div class="Related_Products">
              <div class="ReProductsimg"><a href=""><img src="images/Productimg/productlast_24.jpg" class="image-fluid" alt=""></a></div>
              <span><a href="">Reversible Motor Series</a></span> <span><b>US15:00</b></span> </div>
            <div class="Related_Products">
              <div class="ReProductsimg"><a href=""><img src="images/Productimg/productlast_24.jpg" class="image-fluid" alt=""></a></div>
              <span><a href="">Reversible Motor Series</a></span> <span><b>US15:00</b></span> </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
     <div class="sup_right">
        <div class="Company_Introduction"><span>Main Categories</span></div>
        <div class="sup_product_Data">
          <h3>Quick Details</h3>
          <ul>
            <li><i>Place of Origin:</i><b>Zhejiang, China (Mainland) </b></li>
            <li><i>Brand Name: </i><b> LONGWAYMOTOR  </b></li>
            <li><i>Model Number:</i><b>RS520-37SPG </b></li>
            <li><i>Certification: </i><b> CE</b></li>
            
          </ul>
          <div class="clear"></div>
        </div>
        <div class="sup_product_Data">
          <h3>Packaging & Delivery</h3>
          <ul>
            <li><i>Packaging Details:</i><b>Standard export carton</b></li>
            <li><i>Delivery Detail: </i><b>According to the contract</b></li>
           
          </ul>
          <div class="clear"></div>
        </div>
        <div class="sup_product_Data">
          <h3>Specifications</h3>
          <ul>
            <li><i>Motor diameter:</i><b>33mm,length:22.7mm </b></li>
            <li><i> Gearbox diameter: </i><b>37mm </b></li>
            <li><i>Power: </i><b> 0.55W-2.3W </b></li>
            <li><i> Voltage: </i><b> 12VDC,24VDC </b></li>
           
          </ul>
          <div class="clear"></div>
        </div>
        <div class="sup_product_Description">
          <h3>Typical Applications</h3>
          <ul>
            <li><b>Auto shutter,Money detector,Binding machine, Automatic TV rack,Packing bank note machine,Office equipment,
Household appliances, Automatic actuator.</b></li>
          </ul>
          <div class="clear"></div>
        </div>
        <div class="sup_product_Gearbox">
          <h3>Motor Specifications</h3>
          <div class="Dataimg"><img src="images/Productimg/product_03.jpg" class="image-fluid" alt="" title=""></div>
        </div>
         <div class="sup_product_Gearbox">
          <h3>Gearbox  Specifications</h3>
          <div class="Dataimg"><img src="images/Productimg/product_06.jpg" class="image-fluid" alt="" title=""></div>
        </div>
        <div class="sup_Longwaymotor">
        <h2>Longwaymotor's advantages:</h2>
        <ul>
        <li>A.high quality,low price</li>
        <li>B.small orders acceped</li>
        <li>C.standard export carton or customized</li>
        <li>D.prompt delivery</li>
        <li>E.We have a special department responsible for the development of new products</li>
        </ul>
        <span>You can contact me for more information about this  0.55W-2.3W DC SPUR GEAR MOTOR(RS520-37SPG)</span>
        </div>
        <div class="product_Comparison flot">
         <div class="Company_Introduction"><span>People who shopped for this item also looked  at</span></div>
          <div class="product_table flot sup_up">
            <div class="product_contrast_table">
              <div class="product_contrast_text">product</div>
              <div>Price</div>
              <div>Place Of Co..</div>
              <div>Model Number</div>
              <div>Min Order</div>
              <div>Brand Name</div>
              <div>Rated Torque</div>
              <div>Rated Current</div>
              <div>Rated Voltage</div>
              <div>Rated Power</div>
              <div>Peak Torque</div>
            </div>
            <div class="product_contrast_tupian">
              <div class="product_contrast_textimg"><a href=""><img src="images/Productimg/product-09.jpg" class="image-fluid" alt="" title=""/><b>90HM-02430 Permanent Magnet Synchronous Servo Motor</b></a></div>
              <div>Price</div>
              <div>Place Of Co..</div>
              <div>Model Number</div>
              <div>Min Order</div>
              <div>Brand Name</div>
              <div>Rated Torque</div>
              <div>Rated Current</div>
              <div>Rated Voltage</div>
              <div>Rated Power</div>
              <div>Peak Torque</div>
            </div>
            <div class="product_contrast_tupian">
              <div class="product_contrast_textimg"><a href=""><img src="images/Productimg/product-09.jpg" class="image-fluid" alt="" title=""/><b>90HM-02430 Permanent Magnet Synchronous Servo Motor</b></a></div>
              <div>Price</div>
              <div>Place Of Co..</div>
              <div>Model Number</div>
              <div>Min Order</div>
              <div>Brand Name</div>
              <div>Rated Torque</div>
              <div>Rated Current</div>
              <div>Rated Voltage</div>
              <div>Rated Power</div>
              <div>Peak Torque</div>
            </div>
            <div class="product_contrast_tupian">
              <div class="product_contrast_textimg"><a href=""><img src="images/Productimg/product-09.jpg" class="image-fluid" alt="" title=""/><b>90HM-02430 Permanent Magnet Synchronous Servo Motor</b></a></div>
              <div>Price</div>
              <div>Place Of Co..</div>
              <div>Model Number</div>
              <div>Min Order</div>
              <div>Brand Name</div>
              <div>Rated Torque</div>
              <div>Rated Current</div>
              <div>Rated Voltage</div>
              <div>Rated Power</div>
              <div>Peak Torque</div>
            </div>
            <div class="product_contrast_tupian">
              <div class="product_contrast_textimg"><a href=""><img src="images/Productimg/product-09.jpg" class="image-fluid" alt="" title=""/><b>90HM-02430 Permanent Magnet Synchronous Servo Motor</b></a></div>
              <div>Price</div>
              <div>Place Of Co..</div>
              <div>Model Number</div>
              <div>Min Order</div>
              <div>Brand Name</div>
              <div>Rated Torque</div>
              <div>Rated Current</div>
              <div>Rated Voltage</div>
              <div>Rated Power</div>
              <div>Peak Torque</div>
            </div>
          </div>
        </div>
        <div class="product_Send flot">
           <div class="Company_Introduction"><span>Send your message to this supplier</span></div>
          <div class="Send_message">
            <form>
              <div class="product_emall_form">
                <label><i>*</i>Form</label>
                <input type="text" name="" placeholder="Enter your email address" class="form" >
              </div>
              <div class="product_emall_form">
                <label><i>*</i>Subject</label>
                <input type="text" name="" placeholder="Inquiry about Universal Motor / Flour Mill Motor / Blender Motor / Food Processor Motor" class="Subject" >
              </div>
              <div class="product_emall_form">
                <label><i>*</i>Purchase Quantity</label>
                <input type="text" name="" placeholder="1" class="Purchase" >
                <select name="" class="Quantity">
                  <option>Box</option>
                  <option>Pieces</option>
                </select>
              </div>
              <div class="product_emall_form">
                <label><i>*</i>Content</label>
                <textarea class="Pdetails_Content"></textarea>
              </div>
              <div  class="product_Notes">Your inquiry content must be between 20 to 4000 characters.</div>
              <div  class="product_Notes">
                <button>Send Inquiry</button>
              </div>
              <div  class="product_Notes"><i>*</i>
                <label>Please contact the merchant service information</label>
              </div>
              <div  class="product_Notes"><i>*</i>
                <label>Please make sure your contact information is correct.</label>
              </div>
              <div  class="product_Prompt">Your message will be sent directly to the recipient(s) and will not be publicly displayed. </div>
              <div  class="product_Prompt">We will never distribute or sell your personal information to third parties without your express permission.</div>
              <div class="clear"></div>
            </form>
          </div>
        </div>
        <div class="suppliers_price">  
        <div class="suppliers_Hotproductbox">
       <div class="Company_Introduction"><span>New products</span></div>
         <div class="suppro_prev"><span class="fa fa-angle-left fa-4x"></span></div><div class="suppro_next" ><span class="fa fa-angle-right fa-4x"></span></div>
          <div class="bd">
            <ul>
              <li>
                <div class="suppliers_Hotproductlast">
                  <div class="suppliers_Hotproductimg"><a href=""><img src="images/Suppliersimg/Supplers_05.jpg" class="image-fluid" alt=""></a></div>
                  <span><a href="">These motors belong to phase </a></span>
                </div>
                <div class="suppliers_Hotproductlast">
                  <div class="suppliers_Hotproductimg"><a href=""><img src="images/Suppliersimg/Supplers_05.jpg" class="image-fluid" alt=""></a></div>
                  <span><a href="">These motors belong to phase </a></span></div>
                <div class="suppliers_Hotproductlast">
                  <div class="suppliers_Hotproductimg"><a href=""><img src="images/Suppliersimg/Supplers_01.jpg" class="image-fluid" alt=""></a></div>
                  <span><a href="">These motors belong to phase </a></span></div>
                <div class="suppliers_Hotproductlast">
                  <div class="suppliers_Hotproductimg"><a href=""><img src="images/Suppliersimg/Supplers_05.jpg" class="image-fluid" alt=""></a></div>
                  <span><a href="">These motors belong to phase </a></span></div>
                <div class="suppliers_Hotproductlast">
                  <div class="suppliers_Hotproductimg"><a href=""><img src="images/gdfgbv.png" class="image-fluid" alt=""></a></div>
                  <span><a href="">These motors belong to phase </a></span></div>
               
              </li>
              <li>
                <div class="suppliers_Hotproductlast">
                  <div class="suppliers_Hotproductimg"><a href=""><img src="images/Suppliersimg/Supplers_05.jpg" class="image-fluid" alt=""></a></div>
                  <span><a href="">These motors belong to phase </a></span></div>
                <div class="suppliers_Hotproductlast">
                  <div class="suppliers_Hotproductimg"><a href=""><img src="images/Suppliersimg/Supplers_05.jpg" class="image-fluid" alt=""></a></div>
                  <span><a href="">These motors belong to phase </a></span></div>
                <div class="suppliers_Hotproductlast">
                  <div class="suppliers_Hotproductimg"><a href=""><img src="images/Suppliersimg/Supplers_01.jpg" class="image-fluid" alt=""></a></div>
                  <span><a href="">These motors belong to phase </a></span></div>
                <div class="suppliers_Hotproductlast">
                  <div class="suppliers_Hotproductimg"><a href=""><img src="images/Suppliersimg/Supplers_05.jpg" class="image-fluid" alt=""></a></div>
                  <span><a href="">These motors belong to phase </a></span></div>
                <div class="suppliers_Hotproductlast">
                  <div class="suppliers_Hotproductimg"><a href=""><img src="images/gdfgbv.png" class="image-fluid" alt=""></a></div>
                  <span><a href="">These motors belong to phase </a></span></div>
               
              </li>
              <li>
                <div class="suppliers_Hotproductlast">
                  <div class="suppliers_Hotproductimg"><a href=""><img src="images/Suppliersimg/Supplers_05.jpg" class="image-fluid" alt=""></a></div>
                  <span><a href="">These motors belong to phase </a></span></div>
                <div class="suppliers_Hotproductlast">
                  <div class="suppliers_Hotproductimg"><a href=""><img src="images/Suppliersimg/Supplers_05.jpg" class="image-fluid" alt=""></a></div>
                  <span><a href="">These motors belong to phase </a></span></div>
                <div class="suppliers_Hotproductlast">
                  <div class="suppliers_Hotproductimg"><a href=""><img src="images/Suppliersimg/Supplers_01.jpg" class="image-fluid" alt=""></a></div>
                  <span><a href="">These motors belong to phase </a></span></div>
                <div class="suppliers_Hotproductlast">
                  <div class="suppliers_Hotproductimg"><a href=""><img src="images/Suppliersimg/Supplers_05.jpg" class="image-fluid" alt=""></a></div>
                  <span><a href="">These motors belong to phase </a></span></div>
                <div class="suppliers_Hotproductlast">
                  <div class="suppliers_Hotproductimg"><a href=""><img src="images/gdfgbv.png" class="image-fluid" alt=""></a></div>
                  <span><a href="">These motors belong to phase </a></span></div>
               
              </li>
            </ul>
             <div class="clear"></div>
          </div>
        </div>
      </div>
      
      <div class="sup_Related_Searches"> 
<div class="sup_Searches">
  <h2>Related Searches:</h2>
  <ul>
    <li>gear motor</li>
    <li>dc gear motor</li>
    <li> worm gear motor</li>
    <li>fixed gear bike</li>
    <li>12v dc worm gear motor</li>
    <li> worm gear motor</li>
    <li>fixed gear bike</li>
    </ul>
</div>
      <div class="sup_Searches">
      <h2>Other popular suppliers:</h2>
      <ul>
          <li>gas grill Manufacturers</li>
          <li>gas grill Manufacturers</li>
          <li>gas grill Manufacturers</li>
          <li>gas grill Manufacturers</li>
          <li>gas grill Manufacturers</li>
          <li>gas grill Manufacturers</li>
          <li>gas grill Manufacturers</li>
      </ul>
      </div>
      <div class="sup_Searches">
      <h2>Products related to the price:</h2>
      <ul>
          <li>gas grill Manufacturers</li>
          <li>gas grill Manufacturers</li>
          <li>gas grill Manufacturers</li>
          <li>gas grill Manufacturers</li>
          <li>gas grill Manufacturers</li>
          <li>gas grill Manufacturers</li>
          <li>gas grill Manufacturers</li>
      </ul>
      </div>
      <div class="sup_Searches">
      <h2>hot search:</h2>
      <ul>
          <li>carbon brush motor </li>
          <li>carbon brush motor </li>
          <li>carbon brush motor </li>
          <li>fixed gear bike</li>
          <li>12v dc worm gear motor</li>
          <li>carbon brush motor </li>
          <li>fixed gear bike</li>
      </ul>
      </div>
      </div>
      <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>