<!--supppliers contact start-->
 
<div class="product_detailsmian">
  <div class="motors-suppliersLast sup_color">
   <div class="suppliers_name">
          <div class="suppliers_logo"><img src="images/Suppliersimg/s_logo.jpg" class="image-fluid" alt=""></div>
          <h1>Ningbo Twirl Motor Co., Ltd.</h1>
      </div>
  <div class="suppliers_nav">
      <ul class="navul clearfix">
      <li class="sli"><span><a href="">Home</a></span></li>
          <li class="sli">
         	 <span><a href="">Product Categories<i class="fa fa-caret-down"></i></a></span>
              <ul class="sub">
                  <li><a href="">DC brushed planet gearmotor</a></li>
                  <li><a href="">DC brushed planet gearmotor</a></li>
                   <li><a href="">DC brushed planet gearmotor</a></li>
                  <li><a href="">DC brushed planet gearmotor</a></li>
                   <li><a href="">DC brushed planet gearmotor</a></li>
                  <li><a href="">DC brushed planet gearmotor</a></li>
              </ul>
          </li>
          <li class="sli">
          	<span><a href=""> Company Profile<i class="fa fa-caret-down"></i></a></span>
              <ul class="sub">
                 <li><a href="">Company Overview</a></li>
                  <li><a href="">Industrial certification</a></li>
                   <li><a href="">Company Capability</a></li>
                  <li><a href="">Business Performance</a></li>
              </ul>
          </li>
           <li class="sli"><span><a href="">Contacts</a></span></li>
      </ul>
      
      </div>
      <div class="sup_contacts"><span><a href="">Home</a></span> > <span><a href="">contacts</a></span></div>
      <div class="contact_infomation">
       <div class="Company_Introduction"><span>Company Introduction</span></div>
       <div class="contact_user">
       <div class="user_Head_portrait"><a href=""><img src="images/Suppliersimg/Supplers_02.jpg" class="image-fluid" alt="" title=""></a></div>
       <div class="sup_user_name sup_user_padding"><a href="">Ms. Danny Li</a></div>
      <div class="sup_user_name">Job Title: Manager</div>
        <div class="sup_product_EMail" data-toggle="modal" data-target="#myModal"> <a href="#" class="product_button"><i class="fa fa-envelope glyphicon-size"></i>Contact Now</a></div>
       </div>
       <div class="contact_userjieshao">
       <ul>
           <li><b> Telephone: </b><i> 86-574-87930656,87930657,27871185</i></li>
           <li><b> Fax: </b><i>  86-574-87930655,87800489</i></li>
           <li><b> Address: </b><i>  No.45 West Street,Huixian Village,Wuxiang Town</i></li>
           <li><b> Zip: </b><i>315111</i></li>
           <li><b> Country/Region: </b><i> China (Mainland)</i></li>
           <li><b> Province/State: </b><i>  Zhejiang</i></li>
           <li><b> City: </b><i> Ningbo</i></li>
       </ul>
       </div>
        
       <div class="sup_user">
       <h1>Company Contact Information</h1>
        <ul>
           <li><b> Company Name:: </b><i> Ningbo Yinzhou Longway Tech Co., Ltd.</i></li>
           <li><b> Operational Address: </b><i>No. 45, West Street, Wuxiang Town, Ningbo, Zhejiang, China (Mainland)</i></li>
           <li><b> Website: </b><i>http://www.longwaymotor.com</i></li>
           <li><b> Website on motors-biz.com: </b><i>http://longway.en.motors-biz.com</i></li>
       </ul>
       </div>
      </div>
      <div class="clear"></div>
      <div class="product_Send Send_border">
   <div class="Send_message send_padding">
   <div class="send_text">Send your message to this supplier</div>
   <div class="product_emall_form"><label><i>*</i>Form</label><input type="text" name="" placeholder="Enter your email address" class="form" ></div>
   <div class="product_emall_form"><label><i>*</i>to</label><div>Ms.Danny LI</div></div>
     <div class="product_emall_form"><label><i>*</i>Content</label><textarea class="Pdetails_Content"></textarea></div>
     <div  class="product_Notes">Your inquiry content must be between 20 to 4000 characters.</div>
     <div  class="product_Notes"><button>Send Inquiry</button></div>
     <div  class="product_Notes"><i>*</i><label>Please contact the merchant service information</label></div>
 <div  class="product_Notes"><i>*</i><label>Please make sure your contact information is correct.</label></div>
  <div  class="product_Prompt">Your message will be sent directly to the recipient(s) and will not be publicly displayed. </div>
   <div  class="product_Prompt">We will never distribute or sell your personal information to third parties without your express permission.</div>
     <div class="clear"></div>
   </div>
   </div>
      
      <div class="clear"></div>
  	</div>
  </div>
    <!--Sending disk-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Send Inquiry</h4>
    </div>
    <form>
      <div class="modal_emall">
        <label><i>*</i>Form</label>
        <input type="text" name="" placeholder="Enter your email address"  class="modal_form" >
      </div>
      <div class="modal_emall">
        <label><i>*</i>To</label>
        <div class="chanpinimg"></div>
      </div>
      <div class="modal_emall">
        <label><i>*</i>Subject</label>
        <input type="text" name="" placeholder="nquiry about Universal Motor / Flour Mill Motor / Blender Motor / Food Processor Motor" class="modal_Subject" >
      </div>
      <div class="modal_emall">
        <label><i>*</i>Purchase Quantity</label>
        <input type="text" name="" class="modal_Purchase" >
        <select name="" class="modal_Quantity">
          <option>Box</option>
          <option>Pieces</option>
        </select>
      </div>
      <div class="modal_emall">
        <label><i>*</i>Content</label>
        <textarea class="modal_Pdetails_Content" placeholder="We suggest you detail your product requirements and company information here" ></textarea>
      </div>
      <div  class="product_Notes">Your inquiry content must be between 20 to 4000 characters.</div>
      <div  class="product_Notes">
        <button>Send Inquiry</button>
      </div>
      <div  class="product_Notes"><i>*</i>
        <label>Please contact the merchant service information</label>
      </div>
      <div  class="product_Notes"><i>*</i>
        <label>Please make sure your contact information is correct.</label>
      </div>
      <div  class="product_Prompt">Your message will be sent directly to the recipient(s) and will not be publicly displayed. </div>
      <div  class="product_Prompt">We will never distribute or sell your personal information to third parties without your express permission.</div>
      <div class="clear"></div>
    </form>
  </div>
</div>
<!--Sending disk--> 
  <!--supppliers contact end--> 